<!DOCTYPE html>
<html lang="en">

	
<head>
		<title>Event - Landing Page</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>  
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="">



		<!--== CSS Files ==-->
		<link href="css/bootstrap.css" rel="stylesheet" media="screen">
		<link href="css/style.css" rel="stylesheet" media="screen">
		<link href="css/font-awesome.css" rel="stylesheet" media="screen">
		<link href="css/owl.carousel.css" rel="stylesheet" media="screen">
		<link href="css/flexslider.css" rel="stylesheet" media="screen">
		<link href="css/fancySelect.css" rel="stylesheet" media="screen">
		<link href="css/responsive.css" rel="stylesheet" media="screen">

		<!--== Google Fonts ==-->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

	</head>
	<body>
		<header id="header">
			<div id="menu" class="header-menu fixed">
				<div class="box">
					<div class="row">
						<nav role="navigation" class="col-sm-12">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>

								<!--== Logo ==-->
								<span class="navbar-brand logo">
									Evento Cuna
								</span>

							</div>
							<div class="navbar-collapse collapse">

								<!--== Navigation Menu ==-->
								<ul class="nav navbar-nav">
									<li class="current"><a href="#header">Inicio</a></li>
									<li><a href="#about">Qu&eacute; es Evento Cuna?</a></li>
									<li><a href="#schedule">Pr&oacute;ximos Eventos</a></li>
									<li><a href="#blog">Eventos Anteriores</a></li>
									<li><a href="#testimonial">Testimonios</a></li>
									<li><a href="#contact">Contacto</a></li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>

			<!--== Site Description ==-->
			<div class="header-cta">
				<div class="container">
					<div class="row">
						<div class="entry-content">
				            <p><span class="start-text"><b>A partir del 1 de Septiembre</b></span></p>
				            <h4 class="entry-title"><a href="#">Asiste a tus eventos favoritos</a></h4>
				            <h5><span><b>Posteados en este Sitio Web</b></span></h5>
					    </div>
					</div>
				</div>
			</div>

			<div class="header-bg">
				<div id="preloader">
					<div class="preloader"></div>
				</div>
				<div class="main-slider" id="main-slider">

					<!--== Main Slider ==-->
					<ul class="slides">
						<li><img src="assets/demo/bg-slide-01.jpg" alt="Slide Image"/></li>
						<li><img src="assets/demo/blog1.jpg" alt="Slide Image 2"/></li>
					</ul>

				</div>
			</div>
		</header>

		<div class="content">
			<div class="container box">


				<!--===============================-->
				<!--== About us ===================-->
				<!--===============================-->
		<section id="about" class="about-us">
			<div class="title-start col-md-4 col-md-offset-4">
			<br />
				<h2>La idea fue ser:</h2>
			
			</div>
			<div class="container">
			<div class="about-first">
			<div class="block col-md-4">
				<div class="content-block">
					<i class="fa fa-users fa-3x"></i>
					<h3>Equipo de trabajo</h3>
					<p>Somos un equipo comprometido con satisfacer las necesidades del p&uacute;blico en general</p>
				</div>
			</div>
			<div class="block col-md-4">
				<div class="content-block">
					<i class="fa fa-rocket fa-3x"></i>
					<h3>Concepto original</h3>
					<p>Es la primer p&aacute;gina que da a conocer todo evento festejado en la bello pueblo m&aacute;gico de Dolores Hidalgo</p>
				</div>
			</div>
			<div class="block col-md-4">
				<div class="content-block">
					<i class="fa fa-trophy fa-3x"></i>
					<h3>Preferencia</h3>
					<p>Buscamos ser la primera opci&oacute;n para publicar eventos a nivel Nacional</p>
				</div>
			</div>
			</div>
						</div>
		</section>
				<!--==========-->



				<!--===============================-->
				<!--== Schedule ===================-->
				<!--===============================-->
				<section id="schedule" class="row">
				<div class="title-start schedule-menu col-md-4 col-md-offset-4">
				<br />
					<h2>Echa un vistazo a los siguientes eventos</h2>
					<p class="sub-text text-center">Y no olvides asistir...!</p>
				</div>
					<ul class="timeline">
					    <li>
					        <div class="timeline-badge">
					          <a><i class="fa fa-circle" id=""></i></a>
					        </div>
					        <div class="timeline-panel">
					            <div class="timeline-heading">
					                <h4>Fiestas Patrias</h4>
					            </div>
					            <div class="timeline-body">
					                <img class="blog-image" src="assets/demo/fiestas.jpg" width="50%" height="250" alt="Blog Image 2"/>

					                <p class="timeline-other col-md-6">
					                	
					                	<em class="timeline-item"><a href="https://www.google.com/maps/place/Principal+Garden/@21.1574883,-100.9694433,13z/data=!4m20!1m14!4m13!1m6!1m2!1s0x842b3f07974d9e6d:0x6db685f2f880388a!2sPrincipal+Garden,+37800,+Principal+1810,+Centro,+37800+Dolores+Hidalgo+Cuna+de+la+Independencia+Nacional,+Gto.,+Mexico!2m2!1d-100.9344237!2d21.1574919!1m5!1m1!1s0x0:0x6db685f2f880388a!2m2!1d-100.9344237!2d21.1574919!3m4!1s0x842b3f07974d9e6d:0x6db685f2f880388a!8m2!3d21.1574919!4d-100.9344237">
					                	 Direcci&oacute;n : Plaza Principal
					                	</em></a>
					                	<em class="timeline-item">
					                	Cupo L&iacute;mite : No aplica
					                	</em>
					                	<em class="timeline-item">
					                	Precio: No aplica 
					                	</em>
					                	<em class="timeline-item">
					                	Fecha : Sep-16-2017
					                	</em>
					                	<em class="timeline-item">
					                	Duraci&oacute;n : 10 d&iacute;as
					                	</em>

					                </p>

					            </div>
					            
					        </div>
					    </li>
					    
					    <li  class="timeline-inverted">
					        <div class="timeline-badge">
					          <a><i class="fa fa-circle" id=""></i></a>
					        </div>
					        <div class="timeline-panel">
					            <div class="timeline-heading">
					                <h4>Expo Tianguis Artesanal</h4>
					            </div>
					            <div class="timeline-body">
					                <img class="blog-image" src="assets/demo/expo.jpg" width="50%" height="250" alt="Blog Image 2"/>
					                <p class="timeline-other col-md-6">
					                	
					                	<em class="timeline-item"><a href="https://www.google.com/maps/place/Alameda,+37800+Dolores+Hidalgo,+Guanajuato,+Mexico/@21.1540526,-100.9300298,17z/data=!3m1!4b1!4m5!3m4!1s0x842b3f0f13beea2b:0xd3f62c0bcf20efcd!8m2!3d21.154083!4d-100.9282564">
					                	 Direcci&oacute;n : Parque Alameda
					                	</em></a>
					                	<em class="timeline-item">
					                	Cupo L&iacute;mite : No aplica
					                	</em>
					                	<em class="timeline-item">
					                	Precio: No aplica 
					                	</em>
					                	<em class="timeline-item">
					                	Fecha : Sep-30-2017
					                	</em>
					                	<em class="timeline-item">
					                	Duraci&oacute;n : 7 d&iacute;as
					                	</em>

					                </p>

					            </div>
					            
					        </div>
					    </li>
					    
					    <li>
					        <div class="timeline-badge">
					          <a><i class="fa fa-circle" id=""></i></a>
					        </div>
					        <div class="timeline-panel">
					            <div class="timeline-heading">
					                <h4>Noches M&aacute;gicas en un pueblo M&aacute;gico</h4>
					            </div>
					            <div class="timeline-body">
					                <img class="blog-image" src="assets/demo/noche.jpg" width="50%" height="250" alt="Blog Image 2"/>

					                <p class="timeline-other col-md-6">
					                	
					                		<em class="timeline-item"><a href="https://www.google.com/maps/place/Feria+Dolores/@21.1532085,-100.9440693,19.04z/data=!4m5!3m4!1s0x0:0x997159f608b3efa6!8m2!3d21.1531034!4d-100.9449175">
					                	 Direcci&oacute;n : Campo La Placa
					                	</em></a> 
					                	<em class="timeline-item">
					                	Cupo L&iacute;mite : No aplica
					                	</em>
					                	<em class="timeline-item">
					                	Precio: No aplica 
					                	</em>
					                	<em class="timeline-item">
					                	Fecha : Nov-05-2017
					                	</em>
					                	<em class="timeline-item">
					                	Duraci&oacute;n : 1 d&iacute;a
					                	</em>

					                </p>

					            </div>
					        </div>
					    </li>
					    
					    <li class="timeline-inverted">
					        <div class="timeline-badge">
					          <a><i class="fa fa-circle" id=""></i></a>
					        </div>
					        <div class="timeline-panel">
					            <div class="timeline-heading">
					                <h4>Festival Internacional de Jos&eacute; Alfredo Jim&eacute;nez</h4>
					            </div>
					            <div class="timeline-body">
					                <img class="blog-image" src="assets/demo/jose.jpg" width="50%" height="250" alt="Blog Image 2"/>

					                <p class="timeline-other col-md-6">
					                	
					                	<em class="timeline-item"><a href="https://www.google.com/maps/place/Jos%C3%A9+Alfredo+Jim%C3%A9nez+Mausoleum/@21.156678,-100.9509273,17z/data=!3m1!4b1!4m5!3m4!1s0x842b3fb04f9dfb3f:0xdeeb448fd8e855e4!8m2!3d21.156678!4d-100.9487386">
					                	 Direcci&oacute;n : Campo La Placa
					                	</em></a>
					                	<em class="timeline-item">
					                	Cupo L&iacute;mite : No aplica
					                	</em>
					                	<em class="timeline-item">
					                	Precio: No aplica 
					                	</em>
					                	<em class="timeline-item">
					                	Fecha : Nov-05-2017
					                	</em>
					                	<em class="timeline-item">
					                	Duraci&oacute;n : 1 d&iacute;a
					                	</em>

					                </p>

					            </div>
					   
					        </div>
					    </li>
					    
					    					    <li class="clearfix no-float"></li>
					</ul>
					
				</section>



				<!--===============================-->
				<!--== Blog =============-->
				<!--===============================-->
			<section id="blog" class="row">
				<div class="title-start col-md-4 col-md-offset-4"><h2>Eventos Anteriores</h2>	
				<p class="sub-text text-center">Da un vistazo al pasado...</p>	
				</div>
					<div class="top">
					</div>
					<div class="content">
					  
					  <div class="blog col-md-4">
					    <h2 class="blog-head">Viernes de Dolores</h2>
					    <h3>
					    Posteado por <a href="#">Administrador</a><span class="date-line"> en 29 de Abril</span>
					    </h3>
					    <img class="blog-image" src="assets/demo/dolores.jpg" width="100%" height="250" alt="Blog Image 2"/>
					    
					    <p class="firstpara"><span class="firstcharacter">E</span>n Dolores Hidalgo, se festeja a la Virgen de la Soledad el ultimo domingo de abirl, en el templo de la Soledad de Piedrita, en esta celebracion se lleva a cabo una gran kermesse, participan grupos de danzantes y nunca falta la quema de juegos pirotecnicos. En esta celebracion a la Virgen Dolorosa o de los Dolores, patrona del Pueblo se realizan altares monumentales en diversas casas del centro historico, se realiza una procesion y se regalan aguas, paletas y nieve de frutas de temporada (las famosas de Dolores). </p> 

					    <button class="button-info read-more">Leer m&aacute;s</button>
					     
					  </div>
					
					  <div class="blog col-md-4">
					    <h2 class="blog-head">Festival de las nieves</h2>
					    <h3>Posteado por <a href="#">Administrador</a><span class="date-line"> el 30 de Abril</span></h3>
					    <img class="blog-image" src="assets/demo/nieve.jpg"  width="100%" height="250" alt="Blog Image 2"/>
					    <p class="firstpara"><span class="firstcharacter">E</span>vento titulado "Saborea tu historia" que se desarrolla en la explanada del jardin principal, donde de manera alterna tambien se realizaran eventos culturales y artisticos. Con el objetivo de atraer el turismo nacional, resaltando las tradiciones y el valor historico de nuestra ciudad</p>
					    <button class="button-info read-more">Leer m&aacute;s</button>
					  </div>
					  <div class="blog col-md-4">
					    <h2 class="blog-head">Fiesta Se&ntilde;or de los Afligidos</h2>

					    <h3>Posteado por<a href="#">Administrador</a><span class="date-line"> el 2 de Enero</span></h3>
					    <img class="blog-image" src="assets/demo/llanito.jpg" width="100%" height="250" alt="Blog Image 2"/>
					    <p class="firstpara"><span class="firstcharacter">E</span>sta festividad se realiza el 1 de enero, de manera particular se festeja en el poblado de El Llanito, perteneciente al municipio de Dolores Hidalgo. Se llevan a cabo misas, danzas y juegos pirotecnicos. Cabe mencionar la asistencia de personas de otras localidades del municipio, quienes tambien disfrutan del baile popular que se lleva a cabo en este poblado, fundamentalmente mestizo.</p>
					    <button class="button-info read-more">Leer m&aacute;s</button>
					  </div>
					</div>
				</section>
				<!--==========-->
				<!--===============================-->
				<!--== Pricing Tables =============-->
				<!--===============================-->
								<!--==========-->

				<!--==========-->
				<!--===============================-->
				<!--== Team =============-->
				<!--===============================-->
				
								</div></div>
				<!--==========-->
				<!--==========-->
				<!--===============================-->
				<!--== Testimonial =============-->
				<!--===============================-->
		<section id="testimonial" class="testimonial-area">
            <div class="container">
                <div class="title-start col-md-4 col-md-offset-4">
					<h2 class="team-heading white">Testimonios...</h2>
					<p class="sub-text text-center">Tu opini&oacute;n cuenta mucho!</p>
				</div>
                <div class="row">
                    <div class="col-xs-12">
                    </div>
                    <div id="testimonial-container" class="col-xs-12">
                        <div class="testimonila-block">
                            <img src="assets/testimonial.jpg" alt="clients" class="selfshot">
                            <p>No hay evento que se me pase, gracias a ustedes! Sigan con ese dinamismo</p>
                            <strong>Mauricio Bautista</strong>
                            <br>
                            <small>UTNG</small>
                        </div>
                        
                    </div>
                </div>
            </div><!-- container -->
        </section><!-- testimonial -->
				
        		<div class="content mcontent">
				<div id="gotop" class="gotop fa fa-arrow-up"></div>
			</div>
		</div>
		 <!-- Contact Area -->

        <section id="contact" class="mapWrap">
            <div id="googleMap" style="width:100%;"></div>
            <div id="contact-area">
                <div class="container">
                    <h2 class="block_title">Cont&aacute;ctenos !!!</h2>
                    <div class="row">
                        <div class="col-xs-12">
                        </div>
                        <div class="col-sm-6">
                            <div class="moreDetails">
                                <h2 class="con-title">Cualuiqer duda o aclaraci&oacute;n , estamos a tus &oacute;rdenes</h2>
                                <p>Incluso si quieres dar a conocer un evento que no este en el programa no dudes en escribirnos</p>
                                <ul class="address">
                                    <li><i class="pe-7s-map-marker"></i><span>Av. Educaci&oacute;n Tecnol&oacute;gica No.34, Fracc. Universidad<br> Dolores Hidalgo Cuna de la Independencia Nacional, Gto., <br>M&eacute;xico</span></li>
                                    <li><i class="pe-7s-mail"></i><span>eventocuna@gmail.com</span></li>
                                    <li><i class="pe-7s-phone"></i><span>+1-418-111-1052</span></li>
                                    <li><i class="pe-7s-global"></i><span><a href="#">www.utng.edu.mx</a></span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h2 class="con-title">Te atendemos...</h2>
                            <form role="form">
                              <div class="form-group">
                                <input type="text" class="form-control" id="user_name" placeholder="Tu nombre">
                              </div>
                              <div class="form-group">
                                <input type="email" class="form-control" id="your_email" placeholder="Tu e-mail">
                              </div>
                              <div class="form-group">
                                <textarea name="InputMessage" id="user_message" class="form-control" rows="5" required></textarea>
                              </div>

                              <button type="submit" class="btn medium">Cuentanoslo Todo</button>
                            </form>   
                        </div>
                    </div>
                </div><!-- container -->
            </div><!-- contact-area -->
            
        </section><!-- contact -->
		<footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="copyright">© Copyright 2017 Evento Cuna</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="designed">Dise&ntilde;ado y  Desarrollado por Guadalupe Hern&aacute;dez</a></p>
                    </div>
                </div>
            </div>
        </footer>


		<!--== Javascript Files ==-->
		<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<script src="assets/js/jquery-2.1.0.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src=assets/"assets/js/jquery.scrollTo.js"></script>
		<script src=assets/"assets/js/jquery.nav.js"></script>
		<script src=assets/"assets/js/jquery.flexslider.js"></script>
		<script src=assets/"assets/js/jquery.accordion.js"></script>
		<script src="assets/js/jquery.placeholder.js"></script>
		<script src="assets/js/jquery.fitvids.js"></script>
		<script src="assets/js/gmap3.js"></script>
		<script src="assets/js/fancySelect.js"></script>
		<script src="assets/js/owl.carousel.min.js"></script>
		<script src="assets/js/main.js"></script>
		<script type="text/javascript"> 

		$(document).ready(function() {
 
		  $("#testimonial-container").owlCarousel({
		 
		      navigation : false, // Show next and prev buttons
		      slideSpeed : 700,
		      paginationSpeed : 400,
		      singleItem:true,
		  });
 
		});
		</script>
	</body>
</html>